div.container {
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    background-color: orange;
}

div.box {
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.box:active{
    opacity: 0;
    width: 500px;
    transition: ease-in-out 2s;
}